/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: PokemonPixel;
  src: url("../pokemon_pixel_font.ttf");
}

.About {
    padding-bottom: 2rem;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border: solid #000 3px;
    width: 85%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #999;
    animation: slideFromLeft 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.container > img {
    max-width: 6rem;
    -webkit-filter: drop-shadow(3px 3px 3px #999);
    filter: drop-shadow(3px 3px 3px #999);
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.container:hover, .container:focus {
  -webkit-filter: drop-shadow(3px 3px 3px #f5e371);
  filter: drop-shadow(3px 3px 8px #f5e371);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  & img {
    animation: shake 0.5s forwards;
    -webkit-filter: drop-shadow(3px 3px 3px #f5e371);
    filter: drop-shadow(3px 3px 8px #f5e371);
  }

}

.container > h1 {
    font-size: 1.8rem;
    text-align: left;
    font-family: 'PokemonPixel', sans-serif;
    font-weight: 400;
}

/* Animations */
@keyframes shake {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
  }
  30% {
    transform: translateX(-5px) rotate(-15deg);
  }
  60% {
    transform: translateX(5px) rotate(15deg);
  }
}


/* Small Media Query */
@media only screen and (max-width: 640px) {
}

/* Medium Media Query */
@media only screen and (min-width: 768px) {
  .container {
    width: 40rem;
  }
}

/* Large Media Query */
@media only screen and (min-width: 1024px) {
  .container {
    width: 40rem;
  }
}
