/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.About {
    padding-bottom: 1rem;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    animation: slideFromRight 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.container > img {
    max-width: 6rem;
    -webkit-filter: drop-shadow(3px 3px 3px #999);
    filter: drop-shadow(3px 3px 3px #999);
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.pokeball:hover, .pokeball:focus {
    animation: shake 0.5s forwards;
    -webkit-filter: drop-shadow(3px 3px 3px #fbee9c);
    filter: drop-shadow(3px 3px 8px #f5e371);
}

.container > h1 {
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
}

/* Animations */
@keyframes shake {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
  }
  30% {
    transform: translateX(-5px) rotate(-15deg);
  }
  60% {
    transform: translateX(5px) rotate(15deg);
  }
}


/* Small Media Query */
@media only screen and (max-width: 640px) {
}

/* Medium Media Query */
@media only screen and (min-width: 768px) {
  .container {
    width: 40rem;
  }
  .container > h1 {
    font-size: 1.3rem;
  }
}

/* Large Media Query */
@media only screen and (min-width: 1024px) {
  .container {
    width: 40rem;
  }
}
