/* Grid.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 133, 182, 0.2);
    flex-basis: 15rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #999;
    transition: transform 0.15s ease-in-out;
}

.card > h3 {
  font-family: 'Orbitron', sans-serif;
  line-height: 0;
  font-size: 1.7rem;
  padding-left: 0.9rem;
  font-weight: 500;
  align-self: flex-start;
}

.card > img {
  max-width: 80%;
  position: relative;
  top: -0.7rem;
  -webkit-filter: drop-shadow(3px 3px 3px #999);
  filter: drop-shadow(3px 3px 3px #999);
  margin: 0;
}

.card > h4 {
  font-family: 'Orbitron', sans-serif;
  line-height: 0;
  font-size: 1.7rem;
  padding-left: 0.9rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.card:hover {
    transform: scale(1.05);
    & .mon {
      animation: bounce2 2s ease-in-out infinite;
      transition-duration: 0.7s;
      transition-timing-function: ease-in-out;
    }
}

.card > .type-icons {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 5px;
}

.card > .type-icons > img {
  width: 7rem;
}

/* Animations */
@keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50px); /* Elements slide in from the left */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

/* Animations */
@keyframes bounce2 {
  0%, 100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
}