/* Grid.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 133, 182, 0.15);
    flex-basis: 15rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #999;
    transition: transform 0.15s ease-in-out;
    animation: slideFromRight 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.card > h3 {
  font-family: 'Orbitron', sans-serif;
  line-height: 0;
  font-size: 1.7rem;
  padding-left: 0.9rem;
  font-weight: 500;
  align-self: flex-start;
}

.card > img {
  max-width: 80%;
  position: relative;
  top: -0.7rem;
  -webkit-filter: drop-shadow(3px 3px 3px #999);
  filter: drop-shadow(3px 3px 3px #999);
  margin: 0;
  background-color: none;
  border-radius: 80px;
}

.card > h4 {
  font-family: 'Orbitron', sans-serif;
  line-height: 0;
  font-size: 1.35rem;
  padding-left: 0.9rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.card:hover, .card:focus {
    transform: scale(1.05);
    background-color: rgba(206, 133, 182, 0.23);
    & .mon {
      animation: bounce 1.7s ease-in-out infinite;
      transition-duration: 0.7s;
      transition-timing-function: ease-in-out;
    }
}

.card > .type-icons {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 5px;
}

.card > .type-icons > img {
  width: 7rem;
}

@keyframes slideFromRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animations */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
}