/* Header.css */
.skip {
  position: absolute;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 15px;
  border: 3px solid #000;
  font-family: 'Rubik', 'sans-serif';
  top: 0rem;
  left: -15rem;
  box-shadow: 4px 4px 10px #999;
  text-transform: uppercase;
  z-index: 1;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skip:focus, .skip:hover {
  box-shadow: 3px 3px 8px #f5e371;
  left: 0rem; 
}

header {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.logo {
    width: 22rem;
    -webkit-filter: drop-shadow(3px 3px 3px #999);
    filter: drop-shadow(3px 3px 3px #999);
    animation: slideFromLeft 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

/* Animations */
@keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50px); /* Elements slide in from the left */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
s
/* Small Media Query */
@media only screen and (min-width: 640px) {
  .logo {
    width: 27rem;
  }
}

/* Medium Media Query */
@media only screen and (min-width: 768px) {
  .logo {
    width: 30rem;
  }
}

/* Large Media Query */
@media only screen and (min-width: 1024px) {
  .logo {
    width: 33rem;
  }
}