/* Header.css */
.skip {
  position: absolute;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 15px;
  border: 3px solid #000;
  font-family: 'Rubik', 'sans-serif';
  top: 0rem;
  left: -15rem;
  box-shadow: 4px 4px 10px #999;
  text-transform: uppercase;
  z-index: 1;
  transition-duration: 1s;
  transition-timing-function: fade cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skip:focus, .skip:hover {
  box-shadow: 3px 3px 8px #f5e371;
  left: 0rem; 
}

header {
  padding-top: 1rem;
}

.logo {
    width: 22rem;
    -webkit-filter: drop-shadow(3px 3px 3px #999);
    filter: drop-shadow(3px 3px 3px #999);
    animation: growAndBounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding-bottom: 1.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  width: 13rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #999;
  justify-content: space-around;
  border: solid #000000 3px;
  gap: 1rem;
  animation: growAndBounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-links > li {
  list-style-type: none;
  font-size: 1.1rem;
  color: #333;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

.link, .link:visited {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
}

.link:hover {
  color: #ab6884;
}

.active-link {
  border-bottom: solid #000 2.5px;
}

/* Animations */
@keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50px); /* Elements slide in from the left */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

/* Small Media Query */
@media only screen and (min-width: 640px) {
  .logo {
    width: 27rem;
  }
  .nav-links {
    width: 17rem;
  }
  .nav-links > li {
    font-size: 1.3rem;
  }
}

/* Medium Media Query */
@media only screen and (min-width: 768px) {
  .logo {
    width: 30rem;
  }
}

/* Large Media Query */
@media only screen and (min-width: 1024px) {
  .logo {
    width: 33rem;
  }
}